@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");

.font-kwi {
  font-family: "Kiwi Maru", serif, Roboto, "Droid Sans";
}

.col-1 {
  padding: 0%;
  margin: 0%;
}
.col-2 {
  margin: 0px;
}
p {
  margin: 0px;
}
.fixed-bottom p {
  margin-bottom: 0px;
}

small {
  font-family: "Caveat", cursive;
  font-size: 1em;
}

/* ダブルタップ拡大無効 */
body {
  touch-action: manipulation;
  font-feature-settings: "palt";
  font-weight: bold;
}

input {
  font-weight: bold !important;
}

/* フッター固定 */
footer {
  margin-top: auto;
  padding: 15px 0;
  background: #89c7de;
  color: #fff;
  text-align: center;
}

/* 背景色透明度 */
/* .op-06 {
  opacity: 0.6;
}
.op-07 {
  opacity: 0.7;
} */

/* primary カラー変更*/
.btn-adult {
  background-color: #b4ebfa;
}
.bg-adult {
  background-color: #b4ebfa;
}

.btn-child {
  background-color: #ffd1d1;
}
.bg-child {
  background-color: #ffd1d1;
}

.btn-add {
  background-color: #edc58f;
}
.bg-add {
  background-color: #edc58f;
}
.mb-10 {
  margin-bottom: 8rem !important;
}

/* メディアクエリ */

/* ボタン形状 */

.radius {
  border-radius: 20px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32); /*影*/
}

/* ページ余白 */
@media (min-width: 768px) {
  .m-2 {
    padding: 100px;
  }
}
